<!doctype html> <html> <head>
    <title>Classify your Image!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> </head> <body style="background-color:black"> <div id="maintext" 
style="position:absolute; margin:auto; width:700px; height:200px; text-align:center; top:0; bottom: 0; left: 0; right: 0;">
  <h1 class="text-light mb-2"> Upload your csv for predictions! (they will take awhile) </h1>
  <h5 class="text-light mb-5">upload a csv file with paths to proteins and ligand files or SMILES. It 
  contains as columns complex_name (name used to save predictions, can be left empty), protein_path (path to .pdb file, if empty uses sequence), 
  ligand_description (SMILE or file path) and protein_sequence (to fold with ESMFold in case the protein_path is empty.</h5>
  <form method=post enctype=multipart/form-data>
     <p class="text-light">
        <input type=file name=file>
        <input type=submit value=Upload>
     </p>
  </form> </div> </body>
</html>